<h1>Salut#open</h1>
<p>Current locale <%= I18n.locale %></p>
<p>Default locale <%= I18n.default_locale %></p>
<p>Available locales <%= I18n.available_locales %></p>
<p>I am a hard-coded string. Oh, won't you localize me?</p>
<p><%= t("thanks_for_the_localization") %></p>
<p><%= I18n.translate("hello") %></p>
<p><%= t("greeting", name: "Me") %></p>
<p>(The following string doesn't exist in the locales) <%= t :missing, default: [:also_missing, "I am a missing string"] %></p>
