<!DOCTYPE html>
<html>
<head>
  <title>Myi18n</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= i18n_edit_assets %>
</head>
<body>

<%= yield %>

</body>
</html>
